<mat-card [appearance]="'outlined'" class="flight-card">

    <mat-card-header>
      <mat-card-title>{{ flight.name }} - Flight No: {{ flight.flightNo }}</mat-card-title>
      <button *ngIf="flightService.checkFlightAvailability(flight)" mat-stroked-button color="primary" (click)="openReservationForm()">Book Now</button>
    </mat-card-header>

    <mat-card-content>
      <p class="flight-info">From: {{ flight.origin }}</p>
      <p class="flight-info">To: {{ flight.destination }}</p>
      <div class="flight-time">
        <p class="flight-info">Departure: {{ flight.departureTime | date: 'short' }}</p>
        <p class="flight-info">Arrival: {{ flight.arrivalTime | date: 'short' }}</p>
      </div>
      
      <div *ngIf="flightService.checkFlightAvailability(flight)" class="booking-info-container">
        <p  class="flight-info">Available Seats:</p>
        <mat-chip-listbox class="mat-chip-list">
          <mat-chip color="accent"  *ngFor="let seat of flight.seats">
              {{ seat.class }} - {{ seat.available > 0 ? seat.available : "Unavailable" }}
          </mat-chip>
      </mat-chip-listbox>
      </div>
      <p *ngIf="!flightService.checkFlightAvailability(flight)">Flight is fully booked</p>
    </mat-card-content>

  </mat-card>